Az/
Az.*/
ModuleBrowser/
Configuration/
DeployImage/
DockerMsftProvider/
EZOut/
Find-String/
FormatPx/
GistProvider/
GuiCompletion/
ISEModuleBrowserAddon/
ISEScriptAnalyzerAddOn/
InvokeBuild/
IsePackV2/
LINQ/
Logging/
Logman/
OutlookConnector/
PSConfig/
PSDepend/
PSFzf/
PSParallel/
PSScriptAnalyzer/
PSWindowsUpdate/
Pansies/
Pester/
Pipeworks/
Plaster/
PoshInternals/
PoshRSJob/
PowerLine/
PowerShellCookbook/
PowerShellISEModule/
Pscx/
RoughDraft/
ScriptBrowser/
ScriptCop/
SharePointPnPPowerShellOnline/
ShowUI/
SnippetPx/
SpeculationControl/
TypePx/
VSSetup/
WindowsImageTools/
cWindowsOS/
nPSDesiredStateConfiguration/
posh-gist/
posh-git/
posh-with/
psake/
xDscDiagnostics/
xNetworking/
xUtility/
z/