[submodule "Modules/Posh-GitHub"]
	path = Modules/Posh-GitHub
	url = https://github.com/Iristyle/Posh-GitHub.git
[submodule "Modules/posh-git"]
	path = Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "Modules/Invoke-MSBuild"]
	path = Modules/Invoke-MSBuild
	url = https://git01.codeplex.com/invokemsbuild
[submodule "Modules/PowerShellArsenal"]
	path = Modules/PowerShellArsenal
	url = https://github.com/gkantsidis/PowerShellArsenal.git
[submodule "Modules/Posh-VsVars"]
	path = Modules/Posh-VsVars
	url = https://github.com/gkantsidis/Posh-VsVars.git
[submodule "Modules/Pester"]
	path = Modules/Pester
	url = https://github.com/pester/Pester.git
[submodule "Modules/IsePester"]
	path = Modules/IsePester
	url = https://github.com/dfinke/IsePester.git
[submodule "Source/Pscx"]
	path = Source/Pscx
	url = https://github.com/Pscx/Pscx.git
[submodule "Source/NTFS-Streams"]
	path = Source/NTFS-Streams
	url = https://github.com/RichardD2/NTFS-Streams.git
[submodule "Source/PSScriptAnalyzer"]
	path = Source/PSScriptAnalyzer
	url = https://github.com/PowerShell/PSScriptAnalyzer.git
